h4 { 
color: rgb(46, 120, 247);

}

h1{
text-align: center;

}

a{ 
  border-style: outset;
  border-color: blue
  
}

h3{
  text-align: center;
  color: rgb(46, 120, 247);
}

h2{
  padding-left : 30px;;
}

